:root {
    --txtcol: #fff;
    --shadcol: rgba(0,0,0,1);
    --top: 0;
    --left: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.8em;
    color: var(--txtcol);
    text-shadow:
       0 0 5em var(--shadcol),
       0 0 1em var(--shadcol),
       0 0 0.25em var(--shadcol);
}

article {
    padding: 2em;
    max-width: 30em;
    margin: 2em auto;
    border-radius: .2em;
    font-size: 130%;
}

article:hover{
	opacity:0.1;
}

p {
    text-align: center;
}

a, a:visited {
    color: var(--txtcol);
}
